.hide {
    display: none;
}
#context_menu {
    cursor: default;
    position: fixed;
    box-sizing: border-box;
    width: 375px;
    background-color: #FAFAFA;
    border: 1px solid #DCDCDCEE;
    border-radius: 4px;
    box-shadow: 0 10px 15px #888;
}
.separator {
    margin: 4px 0;
    height: 1px;
    border: none;
    background-color: #E8E8E8;
}
.item {
    margin: 4px;
    border-radius: 4px;
    font-family: 'Segoe UI';
    color: #040404;
}
.icon {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 0;
    font-family: 'Segoe Fluent Icons';
    vertical-align: -3px;
}
.text {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 0;
    font-size: 0.9em;
}
.item.disabled {
    color: #AAA;
}
.item:not(.disabled):hover {
    background-color: #EFEFEF;
}

@keyframes fadein {
    from { opacity: 0 }
    to { opacity: 1 }
}
